
.navbar .navbar-brand {
    background-color: green;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: 
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100px;
}

.footer {
    background-color: #333333;
}